*{
    margin: 0;
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden; /* para evitar que a barra de rolagem horizontal apareça quando o conteúdo ultrapassar a largura da tela */
}

/*---------------HEADER------------------*/
header {
    display: flex; /* pra transformar o header em um container flexível */
    position: relative; /* para fixar o header no topo da página */
    width: 100vw;
    z-index: 1000;
    height: 100px;
    justify-content: space-between; /* para distribuir os elementos dentro do header com espaço entre eles */
    align-items: center;
    flex-direction: row;
    margin: auto; /*deixa ela no centro da tela */
    border-radius: 15px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
}

.logoHeader {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-bottom: 20px;
}

nav {
    display: flex;
    position: relative; /*assim os links e a barra de navegação podem ser posicionados em relação ao nav */
    width: 50%; /*50% do header */
    gap: 5px;
    margin: auto;
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navLinks {
    display: flex;
    position: relative;
    margin: auto;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.navlink {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.sourceBar {
    display: flex;
    position: relative;
    width: 100%;
    margin: auto;
    justify-content: space-around; /*space-around distribui os itens com espaço igual entre eles e nas extremidades */
    align-items: center;
    flex-direction: row;
    padding: 5px;
}

.navInput {
    width: 80%;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

.hamburg {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
}

.hamburg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}




/*---------------HERO------------------*/

.hero{
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/banner-começo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    padding: 30px;
    align-items: start;
    flex-direction: column;
}

.tituloHero{
    color: white;
    font-size: 96px;
    font-weight: bold;
}

.botaoHero {
    width: 280px;
    height: 70px;
    border-radius: 15px;
    background-color: #6f22d4b2;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    transition:  all ease-in-out 0.3s;
    transform: translateX(-1px) translateY(-1px);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.botaoHero:hover {
    background-color: rgb(154, 55, 247);
    transition:  all ease-in-out 0.3s;
    transform: translateX(1px) translateY(1px);
}